.topbar {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #7aa7df, skyblue);
    padding: 5px 40px;
    color: white;
}

.topbar a {
    text-decoration: none;
    color: white;
}

.topbar-left {
    display: flex;
    gap: 8px;
}

.topbar-left i {
    font-size: 15px;
}

.topbar-right {
    display: flex;
    gap: 15px;
}

@media (min-width: 350px) and (max-width:767px) {

    .topbar {
        gap: 15%;
        padding: 2px 5px;
    }

    .topbar-left div:nth-of-type(2),
    .topbar-left div:nth-of-type(4),
    .topbar-left div:nth-of-type(5) {
        display: none;
    }
}